html {
	font-size: 75%;
}

body {
	background-color: 666666;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
}


h1, .h1-like {
	text-align: center;
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}

h2, .h2-like {
	font-size: 3em;
	color: ffcc00;
	font-weight: normal;
	margin-left: 0%;
	text-align: justify;
}

h3, .h3-like {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: 10%;
}

h4, .h4-like {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}

h5, .h5-like {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	line-height: 1.9em;
	margin-left: 15%;
}

h6, .h6-like {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}


#c1 {
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}

#repetinfo {
	position:relative;
	width: auto;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
}

#fondetc {
	position:relative;
	width: auto;
	height: auto;
	margin-left: 3%;
	margin-right: 3%;
}

#communes {
	position:absolute;
	font-size: 1em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

	
#zone1  {
	position:absolute;
	left: 15%;
	top: 0%;
	width:70%;
	height: 25%;
	}

#zone2  {
	position:absolute;
	left: 5%;
	top: 32%;
	width: 90%;
	height: 15%;
	}

#zone3  {
	position:absolute;
	left: 5%;
	top: 50%;
	width: 40%;
	height: 80%;
	}

#zone4  {
	position:absolute;
	left: 45%;
	top: 55%;
	width: 50%;
	height: 20%;
	}

#zone5  {
	position:absolute;
	left: 45%;
	top: 75%;
	width: 50%;
	height: 20%;
	}

#zone6  {
	position:absolute;
	left: 0%;
	top: 0%;
	width: 0%;
	height: 0%;
	}

#zone7  {
	position:absolute;
	left: 0%;
	top: 0%;
	width: 0%;
	height: 0%;
	}

#zone8  {
	position:absolute;
	left: 0%;
	top: 0%;
	width: 0%;
	height: 0%;
	}

#zone9a  {
	position:absolute;
	left: 4%;
	top: 140%;
	width: 15%;
	height: 20%;
	}

#zone9b  {
	position:absolute;
	left: 22%;
	top: 138%;
	width: 75%;
	height: 25%;
	}

#zone10  {
	position:absolute;
	left: 5%;
	top: 170%;
	width: 90%;
	height: 35%;
	}

#zone11  {
	position:absolute;
	left: 7%;
	top: 215%;
	width: 40%;
	height: 20%;
	}

#zone12  {
	position:absolute;
	left: 55%;
	top: 215%;
	width: 40%;
	height: 20%;
	}



#fond  {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height: auto;
	}

svg {
 position:relative;
 height: auto;
 width: 100%;
}
	

a {
	text-decoration: underline;
	color: dddddd;
}

a:hover {color: ff6600;}


div:hover {
	background-color: rgba(255, 255, 255, 0.3);
}


img {
	margin-left: auto; 
	margin-right: auto;
	height: auto;
	vertical-align: top;
	border: none;
}

footer {
	width: 100%;
	height: 3%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 3%;
	font-size: 4em;
	font-weight: bold;
	color: ff6600;
	position: fixed;
	left: 0%;
	bottom: 0%;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
"
}

footer:hover {
	background-color: rgba(0, 0, 0, 0.75);
	}

.obfusc span {
	display: none;
}





