html {
	font-size: 75%;
}

body {
	background-color: 666666;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
}


h1, .h1-like {
	text-align: center;
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}

h2, .h2-like {
	font-size: 3em;
	color: ffcc00;
	font-weight: normal;
	margin-left: 0%;
	text-align: justify;
}

h3, .h3-like {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: 10%;
}

h4, .h4-like {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}

h5, .h5-like {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	line-height: 1.9em;
	margin-left: 15%;
}

h6, .h6-like {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}


#c1 {
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}

#repetinfo {
	position:relative;
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}

#communes {
	position:absolute;
	font-size: 1em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

	
#zone1  {
	position:absolute;
	left: 15%;
	top: 0%;
	width:78%;
	height: 12%;
	}

#zone2  {
	position:absolute;
	left: 15%;
	top: 13%;
	width:78%;
	height: 7%;
	}

#zone3  {
	position:absolute;
	left: 19%;
	top: 21%;
	width:27%;
	height: 30%;
	}

#zone4  {
	position:absolute;
	left: 47%;
	top: 23%;
	width:34%;
	height: 7%;
	}

#zone5  {
	position:absolute;
	left: 47%;
	top: 31%;
	width:34%;
	height: 7%;
	}

#zone6  {
	position:absolute;
	left: 47%;
	top: 38%;
	width:32%;
	height: 6%;
	}

#zone7  {
	position:absolute;
	left: 47%;
	top: 44%;
	width:32%;
	height: 5%;
	}

#zone8  {
	position:absolute;
	left: 23%;
	top: 54%;
	width:60%;
	height: 9%;
	}

#zone9a  {
	position:absolute;
	left: 23%;
	top: 65%;
	width:35%;
	height: 9%;
	}

#zone9b  {
	position:absolute;
	left: 58%;
	top: 65%;
	width: 25%;
	height: 9%;
	}

#zone10  {
	position:absolute;
	left: 23%;
	top: 77%;
	width:59%;
	height: 11%;
	}

#zone11  {
	position:absolute;
	left: 23%;
	top: 91%;
	width:25%;
	height: 8%;
	}

#zone12  {
	position:absolute;
	left: 53%;
	top: 91%;
	width: 24%;
	height: 8%;
	}



#fond  {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height: auto;
	}

svg {
  position:relative;
height: auto;
max-width: 100%;
}
	

a {
	text-decoration: underline;
	color: dddddd;
}

a:hover {color: ff6600;}


div:hover {
	background-color: rgba(255, 255, 255, 0.3);
}


img {
	margin-left: auto; 
	margin-right: auto;
	height: auto;
	vertical-align: top;
	border: none;
}

footer {
	width: 100%;
	height: 3%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 3%;
	font-size: 4em;
	font-weight: bold;
	color: ff6600;
	position: fixed;
	left: 0%;
	bottom: 0%;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
"
}

footer:hover {
	background-color: rgba(0, 0, 0, 0.75);
	}

.obfusc span {
	display: none;
}





