html {
	font-size: 75%;
}

body {
	background-color: 666666;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
}


#fondetc {
	position:relative;
	width: auto;
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
}


svg {
 position:relative;
 height: auto;
 width: 94%;
 margin-left: 3%;
 margin-right : 3%;
 }

#zone1  {
	position:absolute;
	left: 15%;
	top: 1%;
	width:70%;
	height: 10%;
	}

#zone2  {
	position:absolute;
	left: 5%;
	top: 13%;
	width: 93%;
	height: 6%;
	}

#zone3  {
	position:absolute;
	left: 5%;
	top: 22%;
	width: 40%;
	height: 33%;
	}

#zone4  {
	position:absolute;
	left: 45%;
	top: 22%;
	width: 52%;
	height: 10%;
	}

#zone5  {
	position:absolute;
	left: 45%;
	top: 32%;
	width: 52%;
	height: 8%;
	}

#zone9a  {
	position:absolute;
	left: 4%;
	top: 58%;
	width: 15%;
	height: 10%;
	}

#zone9b  {
	position:absolute;
	left: 23%;
	top: 58%;
	width: 73%;
	height: 10%;
	}

#zone10  {
	position:absolute;
	left: 5%;
	top: 71%;
	width: 90%;
	height: 15%;
	}

#zone11  {
	position:absolute;
	left: 7%;
	top: 91%;
	width: 41%;
	height: 7%;
	}

#zone12  {
	position:absolute;
	left: 55%;
	top: 91%;
	width: 35%;
	height: 7%;
	}
	
	
}	

#repetinfo {
	position:relative;
	width: auto;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
}

#communes {
	position:absolute;
	font-size: 1em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

#fond  {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height: auto;
	}


h1, .h1-like {
	position: relative;
	text-align: center;
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: 5%;
	margin-right: 5%;
}




a {
	text-decoration: underline;
	color: dddddd;
}

a:hover {color: ff6600;}


div:hover {
	background-color: rgba(255, 255, 255, 0.3);
}


.obfusc span {
	display: none;
}





