html {
	font-size: 75%;
}

body {
	background-color: 666666;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
}


h1, .h1-like {
	text-align: center;
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}

h2, .h2-like {
	font-size: 3em;
	color: ffcc00;
	font-weight: normal;
	margin-left: 0%;
	text-align: justify;
}

h3, .h3-like {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: 10%;
}

h4, .h4-like {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}

h5, .h5-like {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	line-height: 1.9em;
	margin-left: 15%;
}

h6, .h6-like {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}




#c1 {
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
}

#p1 {
	font-size: 3em;
	color: ffcc00;
	font-weight: normal;
	margin-left: 0%;
	text-align: justify;
}

#p2 {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: 10%;
}

#p3 {
	position:absolute;
	font-size: 1em;
	color: dddddd;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

#p4 {
	font-size: 1.7em;
	color: dddddd;
	font-weight: normal;
	margin-left: 15%;
	margin-top: 0%
}

#p5 {
	font-size: 2em;
	color: dddddd;
	font-weight: normal;
	margin-left: 10%;
	text-align: center;
}


	
a {
	text-decoration: underline;
	color: dddddd;
}

a:hover {color: ff6600;}


img {
	margin-left: auto; 
	margin-right: auto;
	height: auto;
	vertical-align: top;
	border: none;
}

.obfusc span {
	display: none;
}

